* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --black: hsla(0, 0%, 0%, 0.75);
}

@font-face {
  font-family: kumbhSans;
  src: url(/fonts/Kumbh_Sans/KumbhSans-VariableFont_YOPQ\,wght.ttf)
    format("truetype");
  font-display: swap;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: min(5rem, 10vw);
  padding: min(4rem, 8vw) min(2rem, 4vw);
  font-family: kumbhSans, sans-serif, Arial;
  font-weight: 400;
  background-color: var(--light-grayish-blue);
}

header {
  display: flex;
  align-items: center;
  gap: min(3rem, 6vw);
  width: min(70rem, 100%);
  border-bottom: 1px solid var(--grayish-blue);
  padding-bottom: min(2rem, 5vw);

  a {
    padding: min(0.5rem, 1vw) 0;
  }

  nav {
    margin-left: min(3rem, 6vw);
    margin-right: auto;

    ul {
      list-style: none;
      display: flex;
      li a {
        text-decoration: none;
        padding: min(0.5rem, 1vw) min(1rem, 2vw);
        color: var(--dark-grayish-blue);
      }
    }
  }

  div {
    display: flex;
    align-items: center;
    gap: min(3rem, 6vw);

    button {
      border: none;
      background-color: var(--light-grayish-blue);
      padding: min(0.5rem, 1vw);

      img[alt="profile"] {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}
