* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --black: hsla(0, 0%, 0%, 0.75);
}

@font-face {
  font-family: kumbhSans;
  src: url(/fonts/Kumbh_Sans/KumbhSans-VariableFont_YOPQ\,wght.ttf)
    format("truetype");
  font-display: swap;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: min(5rem, 10vw);
  padding: min(4rem, 8vw) min(2rem, 4vw);
  font-family: kumbhSans, sans-serif, Arial;
  font-weight: 400;
  background-color: var(--light-grayish-blue);
}

button {
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  gap: min(3rem, 6vw);
  width: min(70rem, 100%);
  border-bottom: 1px solid var(--grayish-blue);
  padding-bottom: min(2rem, 5vw);

  a {
    padding: min(0.5rem, 1vw) 0;
  }

  nav {
    margin-left: min(3rem, 6vw);
    margin-right: auto;

    ul {
      list-style: none;
      display: flex;
      li a {
        text-decoration: none;
        padding: min(0.5rem, 1vw) min(1rem, 2vw);
        color: var(--dark-grayish-blue);

        &:hover {
          color: var(--very-dark-blue);
          border-bottom: 0.2rem solid var(--orange);
        }
        &:focus {
          color: var(--very-dark-blue);
        }
      }
    }
  }

  div {
    display: flex;
    align-items: center;
    gap: min(3rem, 6vw);

    button {
      border: none;
      background-color: var(--light-grayish-blue);
      padding: min(0.5rem, 1vw);

      img[alt="profile"] {
        width: 3rem;
        height: 3rem;

        &:hover {
          border: 0.15rem solid var(--orange);
          border-radius: 50%;
        }
      }
      img[alt="basket cart"] {
        &:hover {
          filter: brightness(0.2);
        }
      }
    }
  }
}

main {
  display: flex;
  gap: min(5rem, 10vw);
  width: min(70rem, 100%);
  padding: 0 min(3rem, 7vw);
  align-items: center;

  .product-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: min(1.5rem, 3vw);

    button {
      border: none;
      background-color: var(--light-grayish-blue);
      border-radius: min(1rem, 2vw);
    }

    > button {
      img {
        width: 100%;
        height: auto;
        border-radius: min(1rem, 2vw);
      }
    }
    .thumbnails-container {
      display: flex;
      gap: min(2rem, 4vw);
      button {
        width: 25%;
        border-radius: min(0.7rem, 1.4vw);
        &:hover {
          opacity: 0.5;
        }
        img {
          width: 100%;
          height: auto;
          border-radius: min(0.7rem, 1.4vw);
        }
      }
      .active-thumbnail {
        border: 0.2rem solid red;
        opacity: 0.5;
      }
    }
  }
  .controls-container {
    width: 50%;

    h2 {
      font-size: 1rem;
      font-weight: 700;
      color: var(--dark-grayish-blue);
      letter-spacing: 0.1rem;
    }
    h1 {
      font-size: 2.9rem;
      font-weight: 700;
      margin-top: 1rem;
      margin-bottom: 2rem;
      color: var(--very-dark-blue);
    }
    p {
      line-height: 1.6rem;
      color: var(--dark-grayish-blue);
      margin: min(1rem, 2vw) 0;
    }
    .price-container {
      margin: min(1rem, 2vw) 0;
      div {
        display: flex;
        align-items: center;
        gap: min(1rem, 2vw);
        margin: min(0.7rem, 1.5vw) 0;

        #current-price {
          font-size: 1.8rem;
          font-weight: 700;
          color: var(--very-dark-blue);
        }
        #discount {
          font-weight: 700;
          color: var(--light-grayish-blue);
          background-color: var(--very-dark-blue);
          padding: min(0.3rem, 0.6vw) min(0.7rem, 1.5vw);
          border-radius: min(0.5rem, 1vw);
        }
      }
      #previous-price {
        font-weight: 700;
        color: var(--dark-grayish-blue);
        text-decoration: line-through;
      }
    }
    .controls {
      display: flex;
      align-items: center;
      gap: min(1rem, 2vw);
      margin-top: min(2rem, 4vw);

      .quantity-container {
        width: 35%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: min(0.2rem, 0.4vw);
        background-color: hsla(220, 14%, 75%, 0.2);
        border-radius: min(0.5rem, 1vw);

        button {
          border: none;
          background-color: none;
          padding: min(1rem, 2vw);
          background-color: hsla(220, 14%, 75%, 0);

          &:hover {
            opacity: 0.5;
          }
        }
        span {
          font-weight: 700;
          font-size: 1.1rem;
          color: var(--very-dark-blue);
        }
      }
      > button {
        width: 65%;
        border: none;
        border-radius: min(0.7rem, 1.5vw);
        color: var(--very-dark-blue);
        background-color: var(--orange);
        padding: min(1rem, 2vw);
        font-size: 1.1rem;
        font-weight: 700;

        &:hover {
          background-color: hsl(26, 100%, 70%);
        }
        &:active {
          background-color: var(--orange);
          transform: scale(0.97);
        }
        img {
          filter: brightness(0.3);
          margin-right: min(1rem, 2vw);
        }
      }
    }
  }
}
